{{!-- <div class="{{#ifeq location.shape "rectangle"}} rect {{else}} square {{/ifeq}} {{#ifeq location.size "small"}} col-sm-1 SM {{else}} col-sm-2 MD {{/ifeq}}">
	<p>{{location.size}}{{location.shape}}{{location.name}}</p>
</div>  --}}
{{!--		

		<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdV3l0ZuqBKz0K359nlAobLfYClFc8pBs&callback=initMap">
    </script>

    <script>
      var initMap = function() {
      	console.log("initializing map..")
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 2 
        });
        console.log(map);
      };

     
    </script>

    --}}
