{{!-- <div class="{{#ifeq location.shape "rectangle"}} rect {{else}} square {{/ifeq}} {{#ifeq location.size "small"}} col-sm-1 SM {{else}} col-sm-2 MD {{/ifeq}}">
	<p>{{location.size}}{{location.shape}}{{location.name}}</p>
</div>  --}}



    
